
div {
	border-radius: 5px;
	
	
}

h2 {
	font-family: sans-serif;
}

h4 {
	font-weight: bold;
}

h5 {
	font-weight: bold;
}
#header {
	position: relative;
	width: 75%;
	left: 50%;
	margin-left: -37.5%;
	margin-top: 20px;
	margin-bottom: 20px	;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #CAD9DE;

}

#data {
	width: 75%;
}

.header-contents {
	margin: auto;
}

.pic {
	width: 16vmax;
	border: none;
	
	
}

#name {
	position: relative;
	font-family: Calibri, sans-serif;
	color: #239CC4;
	font-size: 3vmax;
	font-weight: bold;
	padding-bottom: -5px;
}
#profession {
	position: relative;
	font-family: Calibri, serif;
	color: gray;
	font-size: 1.5vmax;
	font-style: italic;
	font-weight: none;
}
#links {
	margin-top: 5px;
}
.left {
	border: 1px solid #CAD9DE;
	margin: auto;
}

.right {
	border: 1px solid #CAD9DE;
	margin: auto;
}
.plain-link:hover {
	text-decoration: none;
}
}
.details {
	font-family: Calibri,sans-serif;
	
}
.text-justify-xs {
    text-align: justify;
}


@media(min-width: 320px){
	 .text-smaller {
    	font-size: 4vmin;
    	font-weight: bold;
    }
    .text-dtl-smaller {
    	font-size: 3vmin;
    	color: gray;
    }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .text-justify-sm {
        text-align: justify;
    }
    .text-dtl-normal {
    	font-size: 2vmin;
    	color: gray;
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .text-left-md {
        text-align: left;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .text-left-lg {
        text-align: left;
    }
}